* {
  margin: 0;
  padding: 0;
}
.mobile-constainer {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
header {
}
img {
  height: 80px;
  width: 80px;
  background-color: rgb(201, 208, 218);
  border-radius: 50%;
}
li {
  list-style-type: none;
}
.input {
  background-color: darkgray;
}
.search {
  background-color: darkgray;
}
